body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

span {
    font-weight: bold;
    color: #6f54e7;
}

a {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #6f54e7;
    border-radius: 5px;
}

a:hover {
    background-color: #a294e3;
}
