* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    height: 100vh;
    background-color:lightgray;

}
main {
/* font-family: Arial, sans-serif; */
    display: flex;
    background-color:lightgray;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}
nav {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    align-items: center;
    padding: 5px 4rem 0px 0;
}
nav a {
    font-size: 1.2rem;
    color: rgb(22, 22, 22);
}
nav a:first-child {
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #6f54e7;
}
nav a:last-child{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #6f54e7;
    background-color: #6f54e7;
    color: white;
}

form {
    width: 380px;
    /* background-color: rgb(232, 231, 231); */
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    /* margin-bottom: 20px; Ajout de marge en bas du formulaire */
}
section {
    background-color: rgb(232, 231, 231);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px; 
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="submit"] {
    /* width: calc(100% - 12px); */
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 0.9rem;
}

input[type="submit"] {
    background-color: #6f54e7;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
}

a {
    display: block;
    text-decoration: none;
    color: #007bff;
    margin-top: 10px; /* Ajout de marge en haut des liens */
}


p {
    color: red;
    margin: 5px 0;
}
span {
    color: rgb(5, 56, 5);
    margin: 5px 0;
    font-size: 1.3rem;
}